.animate-bottom {
    position: relative;
    animation: animatebottom 0.2s;
}
  
@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}
input[type=text], input[type=number] {
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
    border: 0;
    height: 42px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
 
.fade {
    transition: opacity .1s linear;
}
.modal-bottom .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .3s ease-out;
}
.btn-danger{
    height: 40px;
    background: linear-gradient(180deg, #F9555F 0%, #E30A0D 100%);
    border-radius: 8px;
    font-weight: 500;
}
.btn-danger:active{
    background: linear-gradient(180deg, #e6444f 0%, #ca0508 100%);
}

/* #modal-cart-confirm */
#modal-cart-confirm .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

#modal-cart-confirm .modal-body {
    padding: 30px 20px 27px 20px;
    height: 307px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #151522;
}

#modal-cart-confirm input {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}
#modal-cart-confirm input:focus {
    outline: none;
}
#modal-cart-confirm .btn {
    width: 100%;
}

/* #modal-danhmuc */
#modal-danhmuc .modal-dialog {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .3s ease-out;
}

#modal-danhmuc .modal-body {
    padding: 20px;
}
#modal-danhmuc .menu-item {
    height: auto;
    line-height: 45px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #000;
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}
#modal-danhmuc .menu-item.active {
    color: #E0463D;
}
#modal-danhmuc .menu-item:first-child {
    border-top: 0;
}

.dish {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
}
.dish>div{
     
}
.dish img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

img.img-list{
    width: 86px;
}

img.img-carts{
    width: 86px;
}

.dish-img {
    width: 86px;
    height: 84px;
}
.dish-text {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dish-text>.title  {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.dish-text>.title::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.dish a {
    color: #000;
}
.dish-text .note {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 9px;
}
.dish-text .note a {
    color: #999999;
}
.dish-text .note img {
    height: 16px;
    object-fit:none;
    border-radius: 0;
    width: auto;
    margin-right: 5px;
    
}
.dish .price{
    font-weight: 500;
    margin-top: 12px;
}
.dish-amount {
    position: absolute;
    right: 9px;
    bottom: 9px;
}
.dish-amount img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.dish-amount .amount {
    min-width: 40px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}

.dish.vertical {
    display: block;
    width: 196px;
    text-align:center;
    margin-top: 0;
    margin-right: 20px;
}
.dish.vertical .dish-img {
    width: 196px;
    height: 148px;
}
.dish.vertical .dish-text{
    padding-top: 6px;
}
.dish.vertical .price{
    margin-top: 2px;
}
.dish.vertical .dish-amount {
    width: auto;
    position: inherit;
    right: inherit;
    bottom: inherit;
    padding-top: 5px;
    padding-bottom: 9px;
}
.dish.vertical .dish-amount .amount {
    margin-left: 20px;
    margin-right: 20px;
}

.slider {
    margin-left: -15px;
    margin-right: 15px;
    width: calc( 100% + 30px);
    overflow: hidden;
}
.slider-items {
    display: flex;
    margin-left: -128px;
    transition: 0.2s;
}

.slider-navs {
    display: flex;
    justify-content: center;
    margin-top: 23px;
    margin-bottom: 13px;
}
.slider-nav {
    width: 14px;
    height: 14px;
    margin: 0 7px;
    display: inline-block;
    background: #E3E3E3;
    opacity: 0.6;
    border-radius: 50%;
    cursor: pointer;
}
.slider-nav.active {
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.dish-list {
    margin-top: 0;
    margin-bottom: 20px;
}
.dish-list-title {
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.2);

    padding-top: 130px;
    margin-top: -130px;
}


#bottom-actions>.flex>div {
    /* border-right: 1px solid #ccc; */
    /* padding-top: 18px; */
}
#bottom-actions>.flex>div:last-child {
    padding-left: 25px;
}
#bottom-actions>.flex .btn {
    width: 100%;
}

.btn-white {
    border: 0.5px solid #000000;
    border-radius: 8px;
    background-color: #fff;
}
.btn-white:hover {
    background-color: #eee;
}

.btn-book {
    width: 40px;
    height: 40px;
    margin-right: 3px;
    padding-top: 8px;
    display: inline-block;
    color: #000;
    cursor: pointer;
    position: relative;
}
.btn-book:hover, .btn-add:hover {
    background-color: #f0f0f0;
}
.header-btn.btn-book {
    padding-left: 10px;
}
.btn-book>.badge {
    position: absolute;
    font-size: 14px;
    top: -1px;
    right: -3px;
    padding: 3px 6px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

#bottom-actions .badge{
    font-size: 11px;
    font-weight: 700;
    padding: 4px 4px;
}

#bottom-actions .tab-pane.dat-mon .btn-add{
    margin-right: 18px;
    padding: 4px;
    cursor: pointer;
}

/* img-slider */
.img-slider {
    position: relative;
}
.img-slider .imgs>img {
    opacity: 0;
    display: none;
    object-fit: cover;
    width: 100%;
    height: 440px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.img-slider .imgs>img.active {
    opacity: 1;
    display: inline;
}
.img-slider .slider-navs {
    position: absolute;
    width: 100%;
    bottom: 3px;
}

/* dish-info */
.dish-info {
    padding-left: 20px;
    padding-right: 20px;
}
.dish-info .img-slider {
    margin-left: -20px;
    margin-right: -20px;
}
 

.dish-info-actions {

}

.dish-info-actions .action-button {
    padding: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 8%);
}
.dish-info-actions .action-button button {
    width: 100%;
    height: 40px;
    background: linear-gradient(180deg, #F9555F 0%, #E30A0D 100%);
    border-radius: 8px;
    font-weight: 500;
}
.dish-info-actions .action-note {
    padding: 20px 0;
}
.dish-info-actions .action-note input {
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
    border: 0;
    height: 42px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
}
.dish-info-actions .action-note input:focus {
    border: 0;
    outline: none;
}

.dish-info .title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 21px;
}
.dish-info .amounts {
    display: flex;
    position: relative;
    height: 39px;
    padding-top: 8px;
    margin-bottom: 20px;
}
.dish-info .prices {
    
}
.dish-info .price {
    font-size: 18px;
    font-weight: 600;
    margin-right: 8px;
}
.dish-info .price-old {
    font-size: 16px;
    font-weight: 500;
    color: #aaa;
    text-decoration: line-through;
}
.dish-info .dish-amount {
    bottom: 3px;
    right: 22px;
}

.dish-info .dish-content {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.dish-info .dish-options {
    margin-top: 25px;
}
.dish-info .dish-options .option-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
}
.dish-info .dish-options .option-item {
    height: 44px;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 10px;
    padding-top: 9px;
    padding-left: 10px;
}
.dish-info .dish-options .option-item .text {
    display: inline-block;
    width: calc(100% - 50px);
}

/* mycheckbox */
.mycheckbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 35px;
  }
  
  /* Hide the browser's default checkbox */
  .mycheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .mycheckbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-top: -9px;
  }
  
  /* On mouse-over, add a grey background color */
  .mycheckbox:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .mycheckbox input:checked ~ .checkmark {
    background-color: #ff303c;
    border: 1.5px solid #ff303c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .mycheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .mycheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
/* Style the checkmark/indicator */
.mycheckbox .checkmark:after {
    left: 6px;
    top: 1px;
    width: 9px;
    height: 14px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


  /* Hide the browser's default checkbox */
  .myradio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .myradio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-top: -9px;
  }
  
  /* On mouse-over, add a grey background color */
  .myradio:hover input ~ .checkmark {
    background-color: #eee;
  }
  
  /* When the checkbox is checked, add a blue background */
  .myradio input:checked ~ .checkmark {
    background-color: #ff303c;
    border: 1.5px solid #ff303c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .myradio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .myradio input:checked ~ .checkmark:after {
    display: block;
  }
  
/* Style the checkmark/indicator */
.myradio .checkmark:after {
    left: 4px;
    top: 1px;
    width: 8px;
    height: 12px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* modal-edit-order-dish-item */
#modal-edit-order-dish-item .modal-dialog{
    margin: 18px;
}
#modal-edit-order-dish-item .modal-content{
    border-radius: 8px;
}
#modal-edit-order-dish-item .modal-body{
    padding: 0;
    border-radius: 8px;
}
#modal-edit-order-dish-item .btn-close{
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 1;
}
#modal-edit-order-dish-item .dish{
    width: 100%;
    background-color: #fff;
}
#modal-edit-order-dish-item .dish-img{
    width: 100%;
    height: 213px;
    max-height: 213px;
}
#modal-edit-order-dish-item .dish-text{
    text-align: left;
    padding-left: 20px;
    margin-top: 6px;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
}
#modal-edit-order-dish-item .price{
    display: none;
}
#modal-edit-order-dish-item .action-note{
    padding: 0 20px 20px 20px;
    margin-top: 8px;
}
#modal-edit-order-dish-item .action-note input{
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 100%;
    border: 0;
    height: 42px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 500;
}
#modal-edit-order-dish-item .action-note input:focus{
    outline: none;
}
#modal-edit-order-dish-item .action-button{
    padding: 0 20px 20px 20px;
}

.khach-hang-tag>.flex {
    background-color: #fff;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 96px;
}
.khach-hang-tag .avatar {
    width:48px;
    border-right: 1px solid #f0f0f0;
    height: 100%;
    padding-left: 12px;
    padding-top: 36px;
}
.khach-hang-tag .infos {
    padding-left: 12px;
    padding-top: 8px;
    font-size: 14px;
    position: relative;
    width: 100%;
}



#modal-chon-tieu-diem .modal-dialog {
 
}
#modal-chon-tieu-diem .modal-body {
     padding: 30px 20px;
     height: 181px;
}

#modal-chon-tieu-diem {
    font-size: 14px;
    font-weight: 500;
}

#modal-chon-tieu-diem .cb-nguoi-tieu-diem {
    width: 206px;
    color: rgba(0, 0, 0, 0.5);
    height: 42px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f1f1f1;
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

#modal-chon-tieu-diem .tbx-so-diem {
    width: 108px;
}
#modal-chon-tieu-diem .tbx-so-diem input {
    width: 100%;
}

#modal-list-nguoi-tieu-diem .nguoi-tieu-diem-item {
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    color: #000;
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#modal-tip-nv .modal-body {
    height: 248px;
}

#modal-tip-nv .tipvals {
    white-space: nowrap;
    margin-bottom: 22px;
    margin-top: 24px;
    text-align: center;
}
#modal-tip-nv .tipval {
    border: 1.5px solid #F0F0F0;
    border-radius: 8px;
    padding: 7px 12px;
    width: 23.4%;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    margin-right: 2px;
    display: inline-block;
}
#modal-tip-nv .tipval.active {
    color: #f00;
    border-color: #f00;
}